li a{
    color: white ;
}
#changeColor{
    color: black;
}
#colorChange{
    color: black;
}
nav{
    transition: all 0.6s;
}
@media (max-width: 992px) {
    #bars{
        color: white;
        font-size: 30px;
        // background-color: white;
        border-radius: 10px;
    }
}
